html,body{
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url(image/header.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

h1{
    font-size: 3rem;
    color: #e2dbdb;
    margin-left: 280px;
    
}

hr{
    border-color: #f05744;
    border-width: 3px;
    max-width: 65px;
}
.buffer{
    height: 120px;
}

.btn{
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
    background-color: #f05744;
    border-color: #f05744;
    margin-left: 35px;
    margin-top: 10px;
}

.btn-primary:hover{
    background-color: #f05744;
    border-color: #f05744;
    border-width: 3px;
}

.btn-xl{
    padding: 1rem 2rem;
}




